<h1>All recipes</h1>
<% @recipes.each_slice(3) do |three_recipes| %>
<div class="row">
  <% three_recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="well">
        <a href="/recipes/<%= recipe.id %>"><h2><%= recipe.title %></h2></a>
        <p><%= recipe.chef %></p>
        <p><%= recipe.friendly_created_at %></p>
        <img src="<%= recipe.image %>" alt="">
        <h4>Ingredients</h4>
        <ul>
          <% recipe.ingredients_list.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
        </ul>
        <p>Prep time: <%= recipe.friendly_prep_time %></p>
        <h4>Directions</h4>
        <p><%= recipe.directions %></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>
